*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-category{
  font-size: 2em;
  text-align: center;
  margin: 20px;
  background-color: hsla(133, 69%, 14%, 0.889);
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
  width: 200px;
  margin: 20px auto;

}

.list-items{
  text-align: center;
  font-size: 1.5em;
  margin: 10px;

}